<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DOOR TO DOOR</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding  class="open image-bg">
 <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="text" placeholder="Pick Up Location"></ion-input>
  </ion-item>

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Number of Small Bags"></ion-input>
  </ion-item>
<p style="font-size: 10px; color: gray; text-align: center">Suitcase, small backpack, duffel bag, box or similar: Less than 40 inches when you add length + width + height</p>
    <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Number of Medium Bags"></ion-input>
  </ion-item>
<p style="font-size: 10px; color: gray; text-align: center">Suitcase, medium sized duffel bag, box or similar: Between 40 and 55 inches when you add length + width + height</p>
    <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Number of Large Bags"></ion-input>
  </ion-item>
<p style="font-size: 10px; color: gray; text-align: center">Suitcase, Big duffel bag, Large box or similar: Between 56 and 70 inches when you add length + width + height</p>

  <ion-item  class="no-padding" style="color: white; background: rgba(0,0,0,0)">
  <ion-label text-center>Pick Up Date</ion-label>
   <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.pickmonth"></ion-datetime>
  
</ion-item>

 <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="text" placeholder="Drop Off Location"></ion-input>
  </ion-item>

<ion-item  class="no-padding" style="color: white; background: rgba(0,0,0,0)">
  <ion-label text-center>Drop Off Date</ion-label>
  <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.arrivalmonth"></ion-datetime>
</ion-item>

</ion-content>
<ion-footer>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col width-50 text-center><p  style="color:white ;margin:10px !important;" class="font-20">Total $: 132</p></ion-col>
      <ion-col width-50><button class="raleway" ion-button full color="button" icon-left>Add To Cart</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>