<ion-content class="open image-bg" padding>
  <div text-center style="width: 40%;
    margin-right: 30%;
    margin-left: 30%;">
    <img src="assets/img/logo.png">
    </div>
    <div class="" style="margin-top: 275px">
      <button class="raleway" ion-button block color="fbbutton" icon-left><ion-icon name="logo-facebook"></ion-icon>Log In With Facebook</button>
      <button class="raleway" ion-button block color="gbutton" icon-left><ion-icon name="logo-googleplus"></ion-icon>Log In With Google</button>
    </div>
</ion-content>
<ion-footer>
  <button class="raleway" ion-button block color="button" (click)="signIn()">Sign In</button>
  <button class="raleway" ion-button block color="button" (click)="signUp()">Register</button>

</ion-footer>