<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BAGGAGE STORAGE</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="open image-bg">

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Number of Small Bags"></ion-input>
  </ion-item>
  <p style="font-size: 10px; color: gray; text-align: center">Suitcase, small backpack, duffel bag, box or similar: Less than 40 inches when you add length + width + height</p>
  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Number of Medium Bags"></ion-input>
  </ion-item>
  <p style="font-size: 10px; color: gray; text-align: center">Suitcase, medium sized duffel bag, box or similar: Between 40 and 55 inches when you add length + width + height</p>
  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Number of Large Bags"></ion-input>
  </ion-item>
  <p style="font-size: 10px; color: gray; text-align: center">Suitcase, Big duffel bag, Large box or similar: Between 56 and 70 inches when you add length + width + height</p>

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-label text-center>How many days will you store bags?</ion-label>
    <ion-select>
      <ion-option value="1">1 Day</ion-option>
      <ion-option value="2">2 Days</ion-option>
      <ion-option value="3">3 Days</ion-option>

    </ion-select>
  </ion-item>
  <p style="font-size: 10px; color: gray; text-align: center">We have a 2 day discount when luggage is stored for 7 days. If you are storing luggage for 7 or more days subtract 2 from
    your total days. For instance, if you need 10 days storage put 8 in the above field.</p>

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)" text-center>
    <ion-label text-center>Pickup Service ?</ion-label>
    <ion-checkbox text-center color="dark" (ionChange)="pickupService($event)"></ion-checkbox>
  </ion-item>
  <!--if yes than-->
  <div *ngIf="visible">
    <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
      <ion-input text-center type="text" placeholder="Name of Airline"></ion-input>
    </ion-item>

    <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
      <ion-input text-center type="text" placeholder="Flight Number"></ion-input>
    </ion-item>

    <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
      <ion-label text-center>Time of Arrival</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>

    <ion-row class="no-padding">
      <ion-col width-50 class="no-padding">
        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)" text-center>
          <ion-label text-center class="font-12">Domestic</ion-label>
          <ion-checkbox text-center color="dark" checked="false"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col width-50 class="no-padding">
        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)" text-center>
          <ion-label text-center class="font-12">International</ion-label>
          <ion-checkbox text-center color="dark" checked="false"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--yahan tak -->
  </div>

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)" text-center>
    <ion-label text-center>Return Luggage Delivery Service ?</ion-label>
    <ion-checkbox text-center color="dark" checked="false"></ion-checkbox>
  </ion-item>

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-label text-center>Date of Service</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.pickmonth"></ion-datetime>
  </ion-item>

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-label text-center>Early Special Storage Fees</ion-label>
    <ion-select>
      <ion-option value="9:30">9:30 AM</ion-option>
      <ion-option value="9:00">9:00 AM</ion-option>
      <!--till 6am 30mins interval-->

    </ion-select>
  </ion-item>
  <p style="font-size: 10px; color: gray; text-align: center">If you need us to open earlier please choose your time here.</p>
  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-label text-center>Late Special Storage Fees</ion-label>
    <ion-select>
      <ion-option value="9:30">9:00 PM</ion-option>
      <ion-option value="9:00">9:30 PM</ion-option>
      <!--till 12am 30mins interval-->

    </ion-select>
  </ion-item>
  <p style="font-size: 10px; color: gray; text-align: center">If you need us to stay open later please choose your time here.</p>

</ion-content>
<ion-footer>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col width-50 text-center>
        <p style="color:white ;margin:10px !important;" class="font-20">Total $: 132</p>
      </ion-col>
      <ion-col width-50><button class="raleway" ion-button full color="button" icon-left>Add To Cart</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>