<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HOME</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="open image-bg">
  <div class="shade"  padding>
<div text-center style="width: 40%;
    margin-right: 30%;
    margin-left: 30%;">
 <img src="assets/img/logo.png">
 </div>
 <div class="" style="position: absolute;
    width: 80%;
    left: 10%;
    bottom: 10px;
">
 <button class="raleway" ion-button block outline large  color="light" (click)="goToCloset()" >Cloud Closet</button>
   <button class="raleway mg-tp-30"  large ion-button outline block color="light" (click)="goToDoor()" >Door To Door</button>
   <button class="raleway mg-tp-30 "  large ion-button outline block  color="light" (click)="goToBaggage()" >Baggage Storage</button>
   </div>
   </div>
</ion-content>
