page-home {
.image-bg{
  background: url('../assets/img/home.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.shade{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
}
