// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$text-color:	#10181f;
$background-color:#fff;

$colors: (
  primary:    #10181f,
  secondary:  rgba(20,86,36,0.6),
  danger:     rgba(96,24,24,0.6),
  light:      #f4f4f4,
  dark:       #1d212a,
  button: #2e6ba2,
  fbbutton: #3b5998,
  iback: #172229,
  itext: #ffffff,
  gbutton:#db4437,
  button-grid: rgba(46,107,162,0.9),
  transparent: rgba(0,0,0,0)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
$roboto-sans-path: $font-path !default;
@font-face {
  font-family: "open";
  font-style: normal;
  //font-weight: 300;
  src: local("OpenSans-Regular"), url("#{$roboto-sans-path}/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "raleway";
  font-style: normal;
  //font-weight: 400;
  src: local("Raleway-Regular"), url("#{$roboto-sans-path}/Raleway-Regular.ttf") format("truetype");
}

.raleway{
  font-family: raleway;
}
.open {
  font-family: open;
}

@import "roboto";
@import "noto-sans";
