<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SIGN IN</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="open image-bg" padding>
  <div text-center style="width: 40%;
    margin-right: 30%;
    margin-left: 30%;">
    <img src="assets/img/logo.png">
    </div>
    <div class="mg-tp-80">
      <form [formGroup]="loginForm">
        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input formControlName=email text-center type="email" placeholder="email"></ion-input>
        </ion-item>
        <div text-center class="no-border" *ngIf="!loginForm.controls.email.valid  &&
          (loginForm.controls.email.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid email.</p>
        </div>

        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input formControlName=password text-center type="password" placeholder="Password"></ion-input>
        </ion-item>
        <div text-center class="no-border" *ngIf="!loginForm.controls.password.valid  &&
          (loginForm.controls.password.dirty || submitAttempt)">
          <p style="color: #ea6153">Your password needs more than 6 characters.</p>
        </div>

        <button class="raleway" ion-button block color="button" icon-left (click)="login()">Log In</button>
      </form>
    </div>

</ion-content>