<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CLOUD CLOSET</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="open image-bg">


  <ion-item  class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-label text-center>  Pack Suitcase For</ion-label>
    <ion-select>
      <ion-option value="1">1 Day</ion-option>
      <ion-option value="2">2 Days</ion-option>
      <ion-option value="3">3 Days</ion-option>
     
    </ion-select>
  </ion-item>

  <ion-item  class="no-padding" style="color: white; background: rgba(0,0,0,0)">
  <ion-label text-center>Baggage Arrival Date</ion-label>
  <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.arrivalmonth"></ion-datetime>
</ion-item>

<ion-item  class="no-padding" style="color: white; background: rgba(0,0,0,0)">
  <ion-label text-center>Baggage Pickup Date</ion-label>
  <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.pickmonth"></ion-datetime>
</ion-item>

   <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="text" placeholder="Street Address"></ion-input>
  </ion-item>

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="text" placeholder="City"></ion-input>
  </ion-item>

 <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="text" placeholder="State"></ion-input>
  </ion-item>
  
  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Zipcode"></ion-input>
  </ion-item>

  <ion-item  class="no-padding" style="color: white; background: rgba(0,0,0,0)" text-center>
  <ion-label text-center>Is this a hotel ?</ion-label>
  <ion-checkbox text-center color="dark" checked="false"></ion-checkbox>
</ion-item>

<!--if yes than-->

  <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="text" placeholder="Name of Hotel"></ion-input>
  </ion-item>

    <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
    <ion-input text-center type="number" placeholder="Room Number"></ion-input>
  </ion-item>

    <ion-item  class="no-padding" style="color: white; background: rgba(0,0,0,0)" text-center>
  <ion-label text-center>Schedule Refresh Kit ?</ion-label>
  <ion-checkbox text-center color="dark" checked="false"></ion-checkbox>
</ion-item>



</ion-content>
<ion-footer>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col width-50 text-center><p  style="color:white ;margin:10px !important;" class="font-20">Total $: 132</p></ion-col>
      <ion-col width-50><button class="raleway" ion-button full color="button" icon-left>Add To Cart</button></ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>