// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.font-11{
	font-size:11px;
}
.font-12{
	font-size:12px;
}
.font-14{
	font-size:14px;
}
.font-16{
	font-size:16px !important;
}
.font-18{
	font-size:18px !important;
}
.font-20{
	font-size:20px;
}
.font-22{
	font-size:22px;
}
.font-24{
	font-size:24px;
}
.font-26{
	font-size:26px;
}
.font-28{
	font-size:28px;
}
.font-30{
	font-size:30px;
}
.font-32{
	font-size:32px;
}
.font-36{
	font-size:36px;
}
.font-40{
	font-size:40px;
}





//Global margin and padding:
.no-padding{
		padding: 0;
}
.no-margin{
	margin:0;
}
.no-margin-top{
	margin-top: 0px;
}
.no-margin-bottom{
	margin-bottom:0px;
}
.no-padding-left{
	padding-left:0;
}
.no-padding-right{
	padding-right:0;
}
.shadow{
	text-shadow: 1px 1px 4px #000000 ;
}
.no-padding-top{
	padding-top:0;
}
.no-padding-bottom{
	padding-bottom:0;
}
.padding-left{
	padding-left: 8px;
}
.padding-right{
	padding-right:8px;
}
.padding-top{
	padding-top:8px;
}
.padding-bottom{
	padding-bottom: 8px;
}

.padding-left-half{
	padding-left: 4px;
}
.padding-right-half{
	padding-right:4px;
}
.padding-top-half{
	padding-top:4px;
}
.padding-bottom-half{
	padding-bottom: 4px;
}

.padding-tp-12{
	padding-top:12px;
}
.padding-bt-12{
	padding-bottom:12px;
}

.margin-left{
	margin-left: 8px;
}
.margin-right{
	margin-right:8px;
}
.margin-top{
	margin-top:8px;
}
.margin-bottom{
	margin-bottom: 8px;
}

.margin-left-lg{
	margin-left: 16px;
}
.margin-right-lg{
	margin-right:16px;
}
.margin-top-lg{
	margin-top:16px;
}
.margin-bottom-lg{
	margin-bottom: 16px;
}

//Text alignment
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}


//Global color: 
.primary-color{
	color:#d6c058;
}
.primary-bg{
	background-color: #d6c058;
}

.no-margin{
	margin:0px;
}
.mg-auto{
	margin-right: auto;
	margin-left:auto;
}
.mg-tp-10{
	margin-top:10px;
}
.mg-tp-20{
	margin-top:20px;
}
.mg-tp-15{
	margin-top:12px;
}

.mg-tp-30{
	margin-top:30px;
}
.mg-tp-40{
	margin-top:40px;
}
.mg-tp-50{
	margin-top:50px;
}
.mg-tp-60{
	margin-top:60px;
}
.mg-tp-70{
	margin-top:70px;
}
.mg-tp-80{
	margin-top:80px;
}
.mg-tp-90{
	margin-top:90px;
}
.mg-tp-100{
	margin-top:100px;
}

.mg-tp-110{
	margin-top:110px;
}

.mg-tp-120{
	margin-top:120px;
}

.mg-tp-130{
	margin-top:130px;
}
.mg-lt-10{
	margin-left:10px;
}

.no-margin{
	margin: 0px !important;
}


/*--------------paddings----------------*/
.no-padding{
	padding: 0px !important;
}

.pd-all-xs{
	padding: 2px !important;
}

.pd-all-sm{
	padding: 5px !important;
}
.pd-tp-6 {
	padding-top: 6px;
}

.pd-tp-10{
	padding-top:10px;
}
.pd-tp-20{
	padding-top:20px;
}
.pd-tp-30{
	padding-top:30px;
}
.pd-tp-40{
	padding-top:40px;
}
.pd-tp-50{
	padding-top:50px;
}
.pd-tp-60{
	padding-top:60px;
}
.pd-tp-70{
	padding-top:70px;
}
.pd-tp-80{
	padding-top:80px;
}
.pd-tp-90{
	padding-top:90px;
}
.pd-tp-100{
	padding-top:100px;
}


.pd-bt-10{
	padding-bottom:10px;
}
.pd-bt-20{
	padding-bottom:20px;
}
.pd-bt-30{
	padding-bottom:30px;
}
.pd-bt-40{
	padding-bottom:40px;
}
.pd-bt-50{
	padding-bottom:50px;
}
.pd-bt-60{
	padding-bottom:60px;
}
.pd-bt-70{
	padding-bottom:70px;
}
.pd-bt-80{
	padding-bottom:80px;
}
.pd-bt-90{
	padding-bottom:90px;
}
.pd-bt-100{
	padding-bottom:100px;
}

.pd-lt-10{
	padding-left:10px;
}
.pd-lt-20{
	padding-left:20px;
}
.pd-lt-30{
	padding-left:30px;
}
.pd-lt-40{
	padding-left:40px;
}
.pd-lt-50{
	padding-left:50px;
}
.pd-lt-60{
	padding-left:60px;
}
.pd-lt-70{
	padding-left:70px;
}
.pd-lt-80{
	padding-left:80px;
}
.pd-lt-90{
	padding-left:90px;
}
.pd-lt-100{
	padding-left:100px;
}



.pd-rt-10{
	padding-right:10px;
}
.pd-rt-20{
	padding-right:20px;
}
.pd-rt-30{
	padding-right:30px;
}
.pd-rt-40{
	padding-right:40px;
}
.pd-rt-50{
	padding-right:50px;
}
.pd-rt-60{
	padding-right:60px;
}
.pd-rt-70{
	padding-right:70px;
}
.pd-rt-80{
	padding-right:80px;
}
.pd-rt-90{
	padding-right:90px;
}
.pd-rt-100{
	padding-right:100px;
}