<ion-menu [content]="content">

    <ion-header class="raleway"  >
        <ion-toolbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="open menu-items" color="primary" style="background: #10181f; color: #fff">

            <button ion-item style="background-color:transparent;  color: #fff"  clear>
                HOME
            </button>
            <button ion-item  style="background-color:transparent;  color: #fff" clear>
                CLOUD CLOSET
            </button>
            <button ion-item style="background-color:transparent;  color: #fff"  clear>
               DOOR TO DOOR
            </button>
            <button ion-item clear  style="background-color:transparent;  color: #fff" >
               BAGGAGE STORAGE
            </button>
       
    </ion-content>
    <ion-footer>
            <button ion-item  style="background-color:transparent;  color: #fff"  clear>
                SETTING
            </button>
            <button ion-item  style="background-color:transparent;  color: #fff"  clear>
                BILLING
            </button>
            <button ion-item  style="background-color:transparent;  color: #fff"  clear>
               HELP
            </button>
            <button ion-item  style="background-color:transparent;  color: #fff"  clear>
             SIGN OUT
            </button>
    </ion-footer>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>