<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>REVIEW PACKLIST</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="open image-bg" >


    <ion-list no-lines>
    <ion-item-sliding style="margin-top: 4px; background: rgba(255,255,255,0.0) !important;">
      <ion-item style="background: rgba(255,255,255,0.6) !important;">
 

 <ion-grid>
   <ion-row (click)="goToCloud()" >
     <ion-col text-left class="font-18" style="font-weight: bold">Name</ion-col>
     <ion-col icon-left text-right class="font-16"><ion-icon color="primary" name="ios-briefcase-outline"></ion-icon>12</ion-col>
       <!--<button ion-button color="primary" (click)="goToCloud()" clear>
        <ion-icon name="arrow-forward"></ion-icon>
       
      </button>-->
   </ion-row>
   
 </ion-grid>

    
      </ion-item>
      <ion-item-options side="right">
           <button ion-button color="secondary" style="height: 100%; margin: 0px;">
        <ion-icon name="create"></ion-icon>
        Edit
      </button>
        <button ion-button color="danger" style="height: 100%; margin: 0px;">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    </ion-item-sliding>

   <ion-item-sliding style="margin-top: 4px; background: rgba(255,255,255,0.0) !important;">
      <ion-item style="background: rgba(255,255,255,0.6) !important;">
 

 <ion-grid>
   <ion-row >
     <ion-col text-left class="font-18" style="font-weight: bold">Name</ion-col>
     <ion-col icon-left text-right class="font-16"><ion-icon color="primary" name="ios-briefcase-outline"></ion-icon>12</ion-col>
   </ion-row>
   
 </ion-grid>

    
      </ion-item>
      <ion-item-options side="right">
           <button ion-button color="secondary" style="height: 100%; margin: 0px;">
        <ion-icon name="create"></ion-icon>
        Edit
      </button>
        <button ion-button color="danger" style="height: 100%; margin: 0px;">
        <ion-icon name="trash"></ion-icon>
        Delete
      </button>
      </ion-item-options>
    </ion-item-sliding>
 

 

  </ion-list>

 <!--<ion-card style="background: rgba(255,255,255,0.85);">
 <ion-grid>
   <ion-row padding>
     <ion-col text-left class="font-18" style="font-weight: bold">Name</ion-col>
     <ion-col icon-left text-right class="font-16"><ion-icon color="primary" name="ios-briefcase-outline"></ion-icon>12</ion-col>
   </ion-row>
   
 </ion-grid>
</ion-card>-->

<ion-fab right bottom>
  <button ion-fab color="button" (click)="showPrompt()"><ion-icon name="add"></ion-icon></button>
</ion-fab>
</ion-content>
