page-closet {
.relative-header{
		height:100%;
		position:relative;
	}
	.relative-body{
		position: absolute;
		bottom:0px;
		//    height: 100% !important;
        // width: 96% !important;
    //padding: 6px;
	}
    img {
        width: 100%;
    }
	.image-bg{
  background: url('../assets/img/closet.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
}
