<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CLOSET</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="open image-bg">
<div style="background: white;">
  <ion-segment [(ngModel)]="options" color="primary" >
    <ion-segment-button value="Clothing" class="font-16">
      Clothing
    </ion-segment-button>
    <ion-segment-button value="Drawer" class="font-16">
      Drawer
    </ion-segment-button>
       <ion-segment-button value="Storage" class="font-16">
      Storage
    </ion-segment-button>
  </ion-segment>
</div>

<div  [ngSwitch]="options">
  <ion-grid  *ngSwitchCase="'Clothing'" style="height:40.18%;" class="padding-right padding-left no-padding-top ">
    <ion-row style="height:100%;" class="padding-top">
      <ion-col width-50 style="height:100%;" class="no-padding-left no-padding-top no-padding-bottom padding-right-half">
        <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
         
            <button ion-button  color="button-grid" class="relative-body font-16"style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full>Add</button>
            
          
        </div>
      </ion-col>
        <ion-col width-50 style="height:100%;" class="padding-left-half no-padding-top no-padding-bottom no-padding-right">
           <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
          
            <button ion-button  color="button-grid" class="relative-body font-16" style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full  >Add</button>
            
          
        </div>
      </ion-col>
    </ion-row>
     <ion-row style="height:100%;" class="padding-top">
      <ion-col width-50 style="height:100%;" class="no-padding-left no-padding-top no-padding-bottom padding-right-half">
        <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
         
            <button ion-button  color="button-grid" class="relative-body font-16"style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full>Add</button>
            
          
        </div>
      </ion-col>
        <ion-col width-50 style="height:100%;" class="padding-left-half no-padding-top no-padding-bottom no-padding-right">
           <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
          
            <button ion-button  color="button-grid" class="relative-body font-16" style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full  >Add</button>
            
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



    <ion-grid  *ngSwitchCase="'Drawer'" style="height:40.18%;" class="padding-right padding-left no-padding-top ">
    <ion-row style="height:100%;" class="padding-top">
      <ion-col width-50 style="height:100%;" class="no-padding-left no-padding-top no-padding-bottom padding-right-half">
        <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
         
            <button ion-button  color="button-grid" class="relative-body font-16"style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full>Add</button>
            
          
        </div>
      </ion-col>
        <ion-col width-50 style="height:100%;" class="padding-left-half no-padding-top no-padding-bottom no-padding-right">
           <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
          
            <button ion-button  color="button-grid" class="relative-body font-16" style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full  >Add</button>
            
          
        </div>
      </ion-col>
    </ion-row>
     <ion-row style="height:100%;" class="padding-top">
      <ion-col width-50 style="height:100%;" class="no-padding-left no-padding-top no-padding-bottom padding-right-half">
        <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
         
            <button ion-button  color="button-grid" class="relative-body font-16"style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full>Add</button>
            
          
        </div>
      </ion-col>
        <ion-col width-50 style="height:100%;" class="padding-left-half no-padding-top no-padding-bottom no-padding-right">
           <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
          
            <button ion-button  color="button-grid" class="relative-body font-16" style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full  >Add</button>
            
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
       <ion-grid  *ngSwitchCase="'Storage'" style="height:40.18%;" class="padding-right padding-left no-padding-top ">
    <ion-row style="height:100%;" class="padding-top">
      <ion-col width-50 style="height:100%;" class="no-padding-left no-padding-top no-padding-bottom padding-right-half">
        <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
         
            <button ion-button  color="button-grid" class="relative-body font-16"style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full>Add</button>
            
          
        </div>
      </ion-col>
        <ion-col width-50 style="height:100%;" class="padding-left-half no-padding-top no-padding-bottom no-padding-right">
           <div  style="height:100%;">
 <img src="assets/img/card.jpg" style="border-radius: 1em;">
          
            <button ion-button  color="button-grid" class="relative-body font-16" style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full  >Add</button>
            
             
        </div>
      </ion-col>
    </ion-row>
     <ion-row style="height:100%;" class="padding-top">
      <ion-col width-50 style="height:100%;" class="no-padding-left no-padding-top no-padding-bottom padding-right-half">
        <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
         
            <button ion-button  color="button-grid" class="relative-body font-16"style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full>Add</button>
            
          
        </div>
      </ion-col>
        <ion-col width-50 style="height:100%;" class="padding-left-half no-padding-top no-padding-bottom no-padding-right">
           <div  style="height:100%;">
 <img src="assets/img/card.jpg" style=" border-radius: 1em;">
          
            <button ion-button  color="button-grid" class="relative-body font-16" style=" border-bottom-right-radius: 1em; border-bottom-left-radius:1em; width: calc(100% - 4px);" full  >Add</button>
            
          
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-fab right bottom>
  <button ion-fab color="button" (click)="goToPacklist()"><ion-icon name="add" ></ion-icon></button>
</ion-fab>
</ion-content>
