page-signup {
.image-bg{
  background: url('../assets/img/closet.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.no-border {
			border: none !important; 
		}

}
