<ion-header class="raleway" color="primary">
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SIGN UP</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="open image-bg" padding>
  <div text-center style="width: 40%;
    margin-right: 30%;
    margin-left: 30%;">
    <img src="assets/img/logo.png">
    </div>
    <div class="mg-tp-80">
      <form [formGroup]="signupForm">
        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input text-center type="text" formControlName="firstName" placeholder="First Name"></ion-input>
        </ion-item>
        <div text-center class="no-border" *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty || submitAttempt)">
          <p style="color: #ea6153">Please enter a valid name.</p>
        </div>
        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input  text-center type="text" formControlName="lastName" placeholder="Last Name"></ion-input>
        </ion-item>
        <div text-center class="no-border" *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty || submitAttempt)">
            <p style="color: #ea6153">Please enter a valid name.</p>
        </div>
        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input text-center type="email" formControlName=email placeholder="Email"></ion-input>
        </ion-item>

        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input text-center type="number" formControlName=phone placeholder="Number"></ion-input>
        </ion-item>

        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input text-center type="password" formControlName=password placeholder="Password"></ion-input>
        </ion-item>

        <ion-item class="no-padding" style="color: white; background: rgba(0,0,0,0)">
          <ion-input text-center type="text" formControlName=promo placeholder="Add Promo Code"></ion-input>
        </ion-item>
      </form>

      <button class="raleway" ion-button block color="button" icon-left (click)="signup()">Register</button>
    </div>
</ion-content>